@import url(listSelector.css);
@import url(isoBox.css);

:root {

    --color-backgroud : #3FA2B240; /* #d9ecf0; */

    --color-alk-blue : #166A83;
    --color-alk-blue-light : #3FA2B2; /* #3fa2b2 */ 
    --color-alk-green : #48B071;
    --color-alk-warning-1 : #C69C5D;
    --color-alk-warning-2 : #FABF2D;
    --color-alk-warning-3 : #EF7E1D;
    --color-alk-red : #E64C42;
    --color-alk-grey-1 : #222222;
    --color-alk-grey-2 : #3C3C3B;
    --color-alk-grey-3 : #555555;
    --color-alk-grey-4 : #B8B8B8;
    --color-alk-grey-5 : #ECECEC;
    
  }
  

@font-face {
  font-family: Roboto;
  src: url(Roboto-Thin.woff2) format('woff2'), /* Super Modern Browsers */
}


body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #DEDEDE;
  /* background-color: #222222; */
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: 100;
  /* line-height: 1.1; */
  overflow: hidden;
  margin: 0px;

  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
}
 
canvas#canvasMap {
  image-rendering: pixelated;
}

#FPS {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #DEDEDE;
  font-family: monospace;
  font-size: 1rem;
}  

#mainCenter {
  display: inline-flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 80vw;
  text-align: center;
}


#mainCenter > #mainMenuHead {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 1rem;
  width: 80vw;
}


#mainCenter > #mainMenuHead > div{ /* Title*/
  display: inline-flex;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: rgb(153, 153, 153) 2px 2px;
  top: 20px;
  position: relative;
}

#mainCenter > #mainMapContent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0px;
  position: absolute;
}

/* --------------- */

#mainMiniWorld {
  background-color: #DEDEDE99;
  width: calc(100% + 80px);
  height: 100%;
  padding: 0px;
  margin: 0px;
  left: -2.6rem;
  top: 0px;
  align-items: center;
  padding: 0;
  overflow: hidden;
  z-index: 49;
}


/* --------------- */

#mainInterfaceMap  {
  left: 2rem;
  background-color: #DEDEDE99;
  padding: 0px;
  margin: 0px;
  width: calc(100vw - (2* 4.8rem));
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  /* transform: rotateX(-60deg) rotateY(0deg) rotateZ(-45deg); */
}

#mainInterfaceMap #menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#mainInterfaceMap #menu > span {
  padding: 1rem;
  cursor: pointer;
  transition: all 1s;
  font-size: 1.4em;
  /* transform: rotateZ(45deg); */
  border-radius: 2.4em;
}

#mainInterfaceMap #menu > span:hover {
  background-color: #0009;
  transition: all 1s;
}


#mainInterfaceMap > div#content {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(180deg);
  margin: 0;
  padding: 0;
  min-height: 600px;
}

#mainInterfaceMap  .centerDot {
  position: absolute;
  border: 2px solid #333;
  z-index: 10000;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #DEDEDE;
}



#mainMap > div { /* Zoom */
  width: 1401px;
  height: 700px;
  position: relative;
  zoom: 1.4;
}

#mainMap > div > div { /* MoveOffset */
  width: 1400px;
  height: 700px;
  align-items: stretch;
  position: relative;
  top: 3.4px;
  left: 0px;
}

#mainMap #canvaBox {
  position: absolute;
  width: 1400px;
  height: 700px;
}

#mainMap #divBox {
  position: absolute;
  width: 1400px;
  height: 700px;
}

#mainMap #divGrid {
  width: 902px;
  height: 902px;
  position: absolute;
  left: 250px;
  top: -110px;
  transition: all 0.3s ease 0s;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  transform-style: preserve-3d;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  z-index: 40;
}



#mainBoxSummary {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
}





/*----------------*/


.boxListMenuLeft {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  overflow: scroll;
}

.boxListMenuLeft .boxItemMenuLeft {
  /* border: 1px solid #F00; */
  padding: 2px;
  padding-bottom: 10px;
  border-left: 5px solid #8eb36d;
  border-right: 5px solid #8eb36d;
  border-top: 5px solid #8eb36d;
  border-bottom: 5px solid #8eb36d;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.boxListMenuLeft .boxItemMenuLeft#curentSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.boxListMenuLeft .boxItemMenuLeft#listItem {
  margin-top: 0px;
  border-top: none;
  min-height: 50vh;
  max-height: 50vh;
  overflow: scroll;
  zoom: .9;
}

 #ItemListHeaderControl + .headerList {
  position: absolute;
  background: #FFFB;
  width: 240px;
  z-index: 1;
  display: none;
}
 #ItemListHeaderControl:hover + .headerList {
  display: block;
}
 #ItemListHeaderControl + .headerList:hover {
  display: block;
}

 #ItemListHeaderControl + .headerList div {
  padding-left: 2px;
  cursor: pointer;
}
 #ItemListHeaderControl + .headerList div:hover {
  border: 1px solid #000;
}

/*-------*/
/* Header 
/*-------*/
.headerDiv {
  border: 1px solid #DEDEDE;
  width: 1400px;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  font-family: fantasy;
}

.headerSelectBox {
  display: flex;
  width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden;
  margin: 5px;
  border: 5px solid #DEDEDE;
  cursor: pointer;
  justify-content: center;
  align-items: center;

}

/*-------*/
/* Content Click Box 
/*-------*/


.tileClickBox {
  position: relative;
  cursor: pointer;
  text-align: left;
}

.tileClickBox:before {
  /* background: rgb(75, 125, 175); */
  opacity: 0;
  content: '';
  height: 100%;
  position: absolute;
  transition: 0.3s;
  transform: translateZ(0px);
  width: 100%;
  z-index: 2;
}

.tileClickBox:hover:before {
  background: #616161;
  transition: 0s;
  opacity: .5;
  /* transform: translateZ(1px); */
}
.tileClickBox:hover:after {
  transition: 1s;
  opacity: 0;
  /* transform: scale(1) translateZ(2px); */
}

/* http://tobiasahlin.com/blog/how-to-animate-box-shadow/ /
.tileClickBox:after {
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
  content: '';
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  transform: scale(0.8) translateZ(2px);
  width: 100%;
  z-index: 1;
}

.tileClickBox:hover:after {
  opacity: 1;
  transform: scale(1) translateZ(2px);
}

.tileClickBox:active:before {
  transform: translateZ(100px) rotateZ(45deg) rotateY(45deg) 
}

.tileClickBox:active:after {
  opacity: 0;
  transform: translateZ(100px) rotateZ(45deg) rotateY(45deg) 
}

*/


/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

/* ----------------------------------------------- */
/* Factory Composant
/* ----------------------------------------------- */


.tooltips {
  position: absolute;
  background-color: #3C3C3B;
  border: 2px solid #DEDEDE;
  height: 0;
  width: 0;
  top: 50vh;
  left: 50vw;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 10000;
}

.tooltipsVisible {
  display: flex !important;
  border: 2px solid #F00;

}

.tooltips > div {
  background-color: #3C3C3B;
  border: 2px solid #DEDEDE;
  background-color: #3C3C3B;
  border: 2px solid #DEDEDE;
  min-height: 2rem;
  display: flex;
  color: #FFF;
}

.tooltips table {
  border-spacing: 0px;
  padding: 11px;
}
.tooltips tr {
  padding: 0px;
  margin: 0px;
}

.tooltips td {
  min-width: 10rem;
  padding: .4rem;
  border: 1px solid #FFF;
  margin: 0px;
}

.tooltips td.arrow {
  min-width: 0px;
  width: 1.6;
  text-align: center;
  border: 1px solid #FFF;
  margin: 0px;
}


/* -- */

.inventoryMenu {
  margin: 1rem 0px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  align-items: center;
}

.inventoryIcon {
  padding: 0px;
  margin: 2px;
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  user-select: none;
  transition: 1s;
  background-color: #DEDEDE;
}
.inventoryIcon:hover {
  background-color: #FFFFFF;
}

 .inventoryIcon > .icon {
  padding: 0px;
  font-size: 1.4rem;
}

 .inventoryIcon > .count {
  padding: 0px;
  position: absolute;
  bottom: 0px;
  right: 2px;
  font-size: .8rem;
  font-family: monospace;
  font-weight: bold;
  text-shadow: 0 0 10px #FFF;
 
}

.productionIcon {
  padding: 5px 0px;
  display: grid;
  height: 2rem;
  grid-template-columns: 2rem 1fr 2rem 2rem 2rem;
}
.productionIcon > span {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productionIcon .icon {
  border: 1px solid #333333;
}
.productionIcon .name{
  justify-content: flex-start;
  border-bottom: 1px solid #000;
  padding-left: .2rem;
}
.productionIcon .buy {
  border: 2px solid #333333;
  font-size: .8rem;
  margin-right: 2px;
  font-weight: bold;
  font-family: sans-serif;
}
.productionIcon .buy:hover {
  background-color: #FFF;
}
.productionIcon .count {
  border-bottom: 1px solid #000;
}

.productioHead {
  display: grid;
  height: 1.8rem;
  grid-template-columns: 1fr 6rem;
}

.productioHead > span {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productioHead .buyMax {
  font-size: .8rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: right;
}
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

/* ----------------------------------------------- */
/* MenuBox
/* ----------------------------------------------- */

.buttMenuBox {
  position: absolute;
  width: calc(100vw - (2 * 2.6rem));
  height: 100vh;
  top: 0px;
  left: 2.6rem;
}

.buttMenuBox > label {
  right:-2.6rem;
}

.buttMenuBox  pre {
  text-align: left;
  font-size: .7rem;
  overflow: scroll;
}

.buttMenuBox#miniMap > label {
  top: calc(4rem);
  left: -2.6rem;
}
.buttMenuBox#miniWorld > label {
  top: calc(4rem + 3rem);
  left: -2.6rem;
}

.buttMenuBox#playerActionAct > label {
  top: calc(4rem + 2 * 3rem);
  left: -2.6rem;
}

.buttMenuBox#playerActionAct > div {
  top: calc(4rem + 50px);
  left: 0px;
  padding: 0px;
  /* width: 4px;
  height: 2.6rem; 
  margin: 0px; */
}

.buttMenuBox#settingAction > label {
  top: 0px;
  right:-2.6rem;
}

.buttMenuBox#tileInfoAction > label {
  top: calc(4rem);
  right:-2.6rem;
}

.buttMenuBox#playerAction > label {
  top: calc(4rem + 3rem);
  right:-2.6rem;
}


.buttMenuBox#achivementAction > label {
  top: calc(4rem + 2 * 3rem);
  right:-2.6rem;
}
/* --- */


.buttMenuBox#floorAction > label {
  top: calc(4rem + 4 * 3rem);
  right:-2.6rem;
}
.buttMenuBox#tileAsset > label {
  top: calc(4rem + 5 * 3rem);
  right:-2.6rem;
}

.buttMenuBox#buildingAction > label {
  top: calc(4rem + 6 * 3rem);
  right:-2.6rem;
}



.buttMenuBox > label{
  position: absolute;
  top: 0px;
  display: block;
  z-index: 50;
}


/* ----------------------------------------------- */
/* SWITCH 
/* ----------------------------------------------- */

  /*
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
*/  
.buttMenuBox > input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.buttMenuBox > label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-color: #898989;
  height: 2.4rem;
  width: 2.4rem;
  margin-top:5px;
  margin-right:5px;
  font-size: 1.8rem;
  transition-duration: .5s;
}

.buttMenuBox > label:hover {
  background-color: #898989;
  margin-top:0px;
  margin-right:0px;
  height: 2.6rem;
  width: 2.6rem;
  font-size: 1.9rem;
  transition-duration: .5s;
}

.buttMenuBox.switch input:checked ~ label {
  background-color: #DEDEDE;
  margin-top:0px;
  margin-right:0px;
  height: 2.6rem;
  width: 2.6rem;
  font-size: 1.9rem;
  transition-duration: .5s;
}

.buttMenuBox input:checked ~ label:hover {
  background-color: #898989;
  transition-duration: .5s;

}


.buttMenuBox .slider {
  display: flex;
}

.buttMenuBox input ~ .slider {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

.buttMenuBox input:checked ~ .slider {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s , opacity .5s linear;
  /*
  display: flex;
  opacity: 1;
  */
}


/* ----------------------------------------------- */
/* MenuBox MAIN 
/* ----------------------------------------------- */


.widjetMenuBox {
  width: 300px;
  position: absolute;
  right: 0px;
  flex-direction: column;
  padding: 1em;
  z-index: 200;
  background-color: #DEDEDE;
  font-size: 1.2rem;
  font-stretch: condensed;

  top: 0px;
  right: 20px;

  max-height: 100vh;
  padding-top: 0.1rem;
  padding-bottom: 3rem;
  overflow: scroll;
}


.widjetMenuBox#control {
  width: 2.6rem;
  background-color: #0000;
}

/*
.widjetMenuBox#floorAction {
}
.widjetMenuBox#tileAsset {

}
.widjetMenuBox#playerAction {
  padding-top: 0.1rem;
}
*/

/* ----------------------------------------------- */
/* MenuBox FLORE ACTION 
/* ----------------------------------------------- */

.menuAction {
  width: 300px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
.menuAction > .row {
  grid-column: 1 / 5;
  text-align: left;
}
.menuAction > .row.title {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.menuAction > .row.subtitle {
  padding-top: 1rem;
}

.menuAction > .row.action {
  grid-column: 1 / 5;
  cursor: pointer;
  text-align: left;
  padding: .2rem 0 .1rem 1rem;
  background-color: #DEDEDE;
  transition: 1s;
  font-weight: 100;
  font-size: 1rem;
}
.menuAction > .row.action:hover {
  background-color: #AEAEAE;
  transition: 1s;
}

.menuAction > .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px; 
  height: 64px;
  position: relative;
  overflow: hidden;
  border: 3px solid #DEDEDE;
  margin: 2px;
  cursor: grab;
}
.menuAction > .cell.empty {
  cursor: pointer;
}

.menuAction > .cell >  .label {
  position: absolute;
  font-size: .8rem;
  padding-left: .1rem;
}

.menuAction > .cell.assetList {
  font-size: .8rem;
  bottom: 0px;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-bottom: .1rem;
}

.menuAction > .row > .smalGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.menuAction > .row > .smalGrid > div {
  width: 19px;
  height: 19px;
  background-color: #000;
  border: 3px solid #AEAEAE;
}



.menuAction > .row.input {
  display: grid;
  grid-template-columns: 1.5em 2.5em 1.5em;
}

.menuAction > .row.input  .clickBox {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 2px solid #aeaeae;
  width: 18px;
  border-radius: 7px;
}

.menuAction > .row.input  .centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ----------------------------------------------- */
/* MenuBox ASSET SELECT 
/* ----------------------------------------------- */

#boxAssetSelected {
  display: block;
  margin-bottom: .5em;
}



#boxAssetSelected .contentAsset {
  display: flex;
  justify-content: space-around;
}

#boxAssetSelected .contentAsset .selector{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.77em;
  
}
  
#boxAssetSelected .contentAsset .selector > div {
  display: flex;
  justify-content: flex-end;
  padding: 0.2em 0;
}

#boxAssetSelected .contentAsset .selector .lable{
  width: 2rem;
  margin-right: 1rem;
}
#boxAssetSelected .contentAsset .selector .input {
  display: grid;
  grid-template-columns: 1.5em 2.5em 1.5em;
}



#boxAssetSelected .contentAsset .selector .input  .clickBox {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 2px solid #aeaeae;
  width: 18px;
  border-radius: 7px;
}

#boxAssetSelected .contentAsset .selector .input  .centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#boxAssetSelected .contentAsset .selector .buttClear {
  border-right: 2px solid #aeaeae;
  border-bottom: 2px solid #aeaeae;
  padding: 0.2rem;
}






/* ----------------------------------------------- */
/* MENU BOX TILE ASSET LIST
/* ----------------------------------------------- */


#titleAssetHeader {
  margin: 0.3rem 0;
  border-bottom: 2px solid
}

#titleAssetHeader + .headerList {
  position: absolute;
  background-color: #DEDEDE;
  width: 240px;
  z-index: 1;
  margin-top: calc(-.3rem - 2px);
  display: none;
  font-size: 0.8em;
  padding-bottom: 1rem;
  border-left: 3px solid;
  /* overflow: scroll; */
}
#titleAssetHeader:hover + .headerList {
  display: block;
}
#titleAssetHeader + .headerList:hover {
  display: block;
}

#titleAssetHeader + .headerList div {
  padding: 0.1rem 0 0.1rem 0.5rem;
  cursor: pointer;
  border: 5px solid #DEDEDE;
  
  padding-left: 2px;
  cursor: pointer;
  border: 5px solid #DEDEDE;
}
#titleAssetHeader + .headerList div:hover {
  border: 5px solid #898989;
}

.listAsset {
  width: 300px;
  text-align: center;
  /* overflow: scroll; */
}

.listAsset > .cell {
  display: inline-block;
  width: 64px; 
  height: 64px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(0, 0, 0);
  margin: 3px;
}

.listAsset > .cell > .contentImg {
  /* top: -60px;
  left: -46px;
  */ width: 64px;
  height: 64px;
  position: absolute;
}

/* ----------------------------------------------- */
/* Minimap
/* ----------------------------------------------- */


#mainMiniMap {
  z-index: 350;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -210px;
  left: 80px;
  background: none;
  width: 400px;
  height: 400px;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-135deg);
}

#mainMiniMap > canvas {
  width: 400px;
  height: 400px;
  box-shadow: -14px -14px 10px 7px;
  cursor: cell;
}



/* ----------------------------------------------- */
/* ISO DIV BOX
/* ----------------------------------------------- */

.isoDivBox {
  border-width: 2px 1px 1px 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  /* cursor: pointer; */ 
  justify-content: center;
  align-items: center;
  z-index: 100;
  display: flex;
  font-size: 1.4em;
}

.isoDivBox.isHide {
  opacity: 0;
  display: none;
}
.isoDivBox.isShow {
  opacity: .9;
  display: flex;
  transition: all 1s;
}
.isoDivBox.isShow:hover {
  opacity: 1;
  transition: all 1s;
}

.isoDivBox:hover {
  z-index: 101;
}

.isoDivBox .content {
  position: relative;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #DEDEDE;
  /* max-height: 90vh; */
  max-height: min(90vh, calc(670px - 100px));
  overflow: scroll;
/*  width: 400px; */
}

/*
.isoDivBox .content input{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.isoDivBox .content #buttEditLabel {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: .7rem;
  font-weight: bold;
}

.isoDivBox .content > textarea {
  height: 150px;
  font-size: .6rem;
}

.isoDivBox input ~ textarea {
  display:none
}

.isoDivBox input:checked ~ textarea {
  display:flex;
}

.isoDivBox input ~ .Markdown {
  display:flex;
  flex-direction: column;
  max-height: 70vh;
  overflow: scroll;
}

.isoDivBox input:checked ~ .Markdown {
  display:none;
}
*/

.isoDivBox >  .content > label#buttRemove {
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  background-color: #000;
  color: #FFF;
  height: 2rem;
  width: 2rem;
  top: 0px;
  right: 0px;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}


.isoDivBox >  .content > label#buttEditLabel {
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  background-color: #000;
  color: #FFF;
  height: 15px;
  width: 15px;
  top: 0px;
  right: 20px;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}


.isoDivBox >  .content > div > .buttAction {
  background-color: #DEDEDE;
  padding: .5em .5em;
  border: 2px solid #333;
  box-shadow: 5px 5px 0px #999;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  justify-content: center;
  font-family: monospace;
  font-weight: bold;
  transition: all .2s;
  cursor: pointer;
  margin: 0 .1rem 3rem 0;
  width: 100%;
}

.isoDivBox >  .content > div > .buttAction:hover {
  background-color: #BEBEBE;
  transition: all .1s;
}

.isoDivBox >  .content > div > .buttAction:target {
  background-color: #999;
  transition: all .1s;
}


.isoDivBox >  .content > .titleDiv {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: .5rem 0 0 0;
  display: flex;
  font-size: 1.8rem;
  font-weight: 900;
}
.isoDivBox >  .content > .titleDiv > div:nth-child(1) {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid  #333;;
  border-radius: 2rem;
  padding: .4rem;
  margin: 0 1rem 0 1rem;
}

.isoDivBox >  .content > .titleDiv > div:nth-child(1):hover {
  background-color: #BEBEBE;
  transition: all .1s;
}


.isoDivBox >  .content > .pageDiv {
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 4rem);
}



.isoDivBox >  .content > .inventoryNode{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 6rem);
  padding: 1rem 0 1rem 0;
}

.isoDivBox >  .content > .inventoryNode > div { 
  padding: 0rem .1rem 0rem .1rem;
  font-size: .9em;
  font-weight: 900;
  border: 1px solid #333;
  margin: .2rem 0;
  padding: 1rem .4rem;
  width: 100%;
  text-align: left;
}

.isoDivBox >  .content > .inventoryNode > div.butts { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
}

.isoDivBox >  .content > .inventoryNode > div.butts > div { 
  border: 1px solid #333;
  padding: 1rem .4rem;
  transition: all .3s;
}
.isoDivBox >  .content > .inventoryNode > div.butts > div:hover { 
  background-color: #AEAEAE;
  transition: all .3s;
}



.isoDivBox >  .content > .stepList{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 6rem);
  padding: 1rem 0 1rem 0;
}

.isoDivBox >  .content > .stepList > div { 
  cursor: pointer;
  padding: 0rem .1rem 0rem .1rem;
  font-size: .9em;
  font-weight: 900;
  transition: all .3s;
  border: 1px solid #333;
  margin: .2rem 0;
  padding: 1rem .4rem;
  width: 100%;
  text-align: left;
}

.isoDivBox >  .content > .stepList > div:hover { 
  background-color: #AEAEAE;
  transition: all .3s;
}



.isoDivBox >  .content > .actionDiv {
  display: flex;
  justify-content: center;
  padding: .2rem;
  margin: .7rem;
  width: 80%;
}

.isoDivBox >  .content > .paramDiv {
  border: 1px solid;
  width: 90%;
  padding: .5em;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.isoDivBox >  .content > .paramDiv > div > H3 {
  margin: .2rem 0 .1rem 0;
  display:none;
}

.isoDivBox >  .content > .paramDiv .form-control > p {
  padding: 0 0 0 1.5em;
  margin: 0 0 0 1.5rem !important;
  display: block !important;
}

.isoDivBox >  .content > .paramDiv .form-control > input{
  margin: 0 0 0 1em;
  font-size: 1.2rem;
  padding: .4rem;
  background: #DEDEDE;
  font-weight: bold;
}
.isoDivBox >  .content > .paramDiv .form-control > select{
  margin: 0 0 0 1em;
  font-size: 1.2rem;
  padding: .4rem;
  background: #DEDEDE;
  font-weight: bold;
}

.isoDivBox >  .content > .paramDiv .form-control > input:focus-visible {
  outline: #333 auto 1px
}

.isoDivBox >  .content > .paramDiv .form-control > select:focus-visible {
  outline: #333 auto 1px
}
  

/* ----------------------------------------------- */
/* CLICK MOVE
/* ----------------------------------------------- */

.clickMove {
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  position: absolute;
}


.clickMove div {
  width: 12em;
  height: 12em;
  position: absolute;
  z-index: 41;
}

.clickMove div:hover {
  background: #0001;
}

.clickMove div#ArrowUp {
  top: 0em; right: 0em;
  border-radius: 0  0 0 10em;

}
.clickMove div#ArrowRight {
  bottom: 0em; right: 0em;
  border-radius:  10em 0 0 0;
}
.clickMove div#ArrowDown {
  bottom: 0em; left: 0em;
  border-radius: 0 10em 0 0;
}
.clickMove div#ArrowLeft {
  top: 0em; left: 0em;
  border-radius: 0 0 10em  0;
}
